@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --bg-color: #f9f9f9;
  --primary-color: #4a90e2;
  --accent-color: #50e3c2;
  --text-color: #333;
  --border-color: #ddd;
  --item-hover: #eef6ff;
  --button-hover: #3a7bd5;
  --error-color: #e74c3c;
}
body{
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    place-items: center;
    background-color: #333;
    margin-top: 60px;
}
h1 {
  color: var(--primary-color);
}

.container{
    background-color: var(--bg-color);
    padding: 20px 60px;
    border-radius: 8px;
    height: fit-content;
}

input{
    padding: .5rem;
}

button{
    padding: 0.5rem;
}

ul{
    width: 100%;
    p
}

li{
    margin: 0;
    list-style: none;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}